<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>SVG Demo</title>
  </head>
  <body>
    <% files_and_messages.each do |(filename, message)| %>
      <div class="lenses-container">
        <div class="filename"><%= filename %></div>

        <% if (svgs = message.to_svg).any? %>
          <% svgs.map do |svg| %>
            <div class="lens">
              <%= svg %>
            </div>
          <% end %>
        <% else %>
          <div>
            Could not recognize tracing data.
          </div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
