body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 1em;
}

.lenses-container {
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
}

.lens {
  width: 200px;
  display: inline-block;
  padding: 10px;
}

.lens svg {
  stroke: black;
  fill: #eee;
}
